name: PR Title Checker
on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v5.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          validateSingleCommit: false
          validateSingleCommitMatchesPrTitle: false
